body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  text-align: center;
}

.logo{
  text-align: left;
}
​
.appLogo{
  padding-right: 20px;
  display: inline-block;
  margin: 20px;
}
​
nav{
  float: right;
  font-size: 20px;
  margin:20px;
  font-weight: bold;
}

.navigation{
  float: right;
}

.fixedDiv{
  width:250px;
  height: 250px;
}


#linkButton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

body{
  background-image: url("https://i.postimg.cc/Jh6Hx2d7/Image-from-i-OS.png");
  background-attachment: fixed;
}

.mapDiv{
  width:800px;
  height: 400px;
  border: 2px solid black;
  margin-bottom: 20px;
}

.displayContainer{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.contChild{
  display: flex;
  justify-content: center;

}

